<%-include('../partials/header.ejs')%> 
<div class="container">
    <div class="row justify-content-center formcss">
        <form class="col-lg-6 col-sm-8 border rounded p-5" method="POST" action="/admin">
            <div class="form-group">
                <label class="mt-2">Email address</label>
                <input type="email" name="email" class="form-control mt-2" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
        </form>
    </div>
</div>
<%-include('../partials/footer.ejs')%> 