<%-include('./partials/header.ejs')%> 
<div class="container-fluid vh-100  text-white bg-dark">
    <div class="row vh-100">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center" id="homePage">
            <div>   
                <h1>Hello there</h1>
                <p>We pride ourselves on simple yet efficient productivity</p>
                <p>Plan it was inspired by simple employee organization meets elegance</p>
                <p>This website is built on security to ensure the integrity of our employees and admins</p>
                <p>using additional middleware for security and to deter unwanted access</p>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/KpfdVGI.png" class="rounded mx-auto d-block col-7" alt="stock image">
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs')%> 
