:root {
  --iconscolor: white;
  --sidebarWidth: 9vw;
  --sidebarHeight: 95vh;
  --mainWidth: 50vw;
}

body{
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  box-sizing: content-box;
}

.icons , .icons:focus {
  color: var(--iconscolor);
}

.sideBar {
  position: absolute;
  width: var(--sidebarWidth);
  height: var(--sidebarHeight);
  overflow: hidden;
  left: 0;
}

.containerWidth {
  padding: 10px;
  width: 80vw;
}

.sideBarButtons {
  width: 12vmin;
  height: 7vmin;
  overflow: hidden;
}

.googleIcon{
  color: var(--iconscolor);
}

.googleIcon:hover{
  color: white;
}

.mainHeight {
  height: 30vmin;
}
.mainHeightTwo {
  height: 25vmin;
}

.tableSet {
  overflow-y: scroll;
  height: 300px;
}

.employeeCardLarge {
  max-width: 15rem; 
  max-height: 10rem;
}

.formcss {
  height: 50vh;
  justify-content: center;
  align-items: center;
}

@media (max-width:992px) {
  .mainScreen {
    width: 99vw;
  }
  .containerWidth {
    width: 99vw;
  }
  .sideBar{
    display: none;
  }
  .employeeCardLarge {
    width: 100vw;
    height: 50vh;
  }
  .mainHeightTwo {
    height: 45vmin;
  }
}
