:root {
  --iconscolor: white;
  --sidebarWidth: 9vw;
  --sidebarHeight: 95vh;
  --mainWidth: 50vw;
}

body{
  overflow: hidden;
  box-sizing: content-box;
}

.icons , .icons:focus {
  color: var(--iconscolor);
}

.sideBar {
  position: absolute;
  width: var(--sidebarWidth);
  height: var(--sidebarHeight);
  overflow: hidden;
  left: 0;
}

.containerWidth {
  padding: 10px;
  width: 80vw;
}

.containerWidthSched {
  margin-left: 200px;
  padding: 10px;
  width: 85vw;
  overflow:scroll;
}

.schedHeight {
  height: 80vmin;
}

.sideBarButtons {
  width: 12vmin;
  height: 7vmin;
  overflow: hidden;
}

.googleIcon{
  color: var(--iconscolor);
}

.googleIcon:hover{
  color: white;
}

.mainHeight {
  height: 30vmin;
}
.mainHeightTwo {
  height: 25vmin;
}

.tableSet {
  overflow-y: scroll;
  height: 300px;
}

.employeeCardLarge {
  max-width: 15rem; 
  max-height: 10rem;
}

.formcss {
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.anchor {
  text-decoration: none;
  color: white;
}

.anchor:hover {
  text-decoration: none;
  color: #EAD2AC
}

@media (max-width:992px) {
  .mainScreen {
    width: 99vw;
  }
  .containerWidth {
    width: 99vw;
  }
  .sideBar{
    display: none;
  }
  .employeeCardLarge {
    width: 100vw;
    height: 50vh;
  }
  .mainHeightTwo {
    height: 45vmin;
  }
  body{
    overflow: scroll;
  }
  .containerWidthSched {
    margin-left: 0;
    padding: 10px;
    width: 99vw;
    overflow: visible;
    
  }

  .schedHeight {
    height: 100vh;
  }
  
}
