:root {
  --iconscolor: white;
  --sidebarWidth: 9vw;
  --sidebarHeight: 95vh;
  --mainWidth: 50vw;
}

body{
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  box-sizing: content-box;
}

.icons , .icons:focus {
  color: var(--iconscolor);
}

.sideBar {
  position: absolute;
  width: var(--sidebarWidth);
  height: var(--sidebarHeight);
  overflow: hidden;
  left: 0;
}

.mainScreen {
  width: var(--mainWidth);
}

.containerWidth {
  padding: 10px;
  width: 80vw;
}

.sideBarButtons {
  width: 10vmin;
  height: 6vmin;
}

googleIcon{
  color: var(--iconscolor);
}

googleIcon:hover{
  color: black;
}

@media (max-width:992px) {
  .sideBar{
    display: none;
  }
}

@media (max-width:992px) {
  .mainScreen {
    width: 100vw;
  }
  .containerWidth {
    width: 99vw;
  }
}
